/*COTAINER ELEMENTS*/
body{
    background-color: rgb(207, 206, 206);
    margin: 0;
}
#the_div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

main >div{
    display: flex;
    justify-content: center;
}
main{
    margin-top: 100px;
}
/*HEADER*/
header{
        background-color: rgb(173, 173, 216);
        position: fixed;
        top: 0;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        
}

#button_mode{
    background-color:  rgb(173, 173, 216);
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border: none;
    border-left: solid white 1px;

}
/*TITLES & TEXT*/
h1{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: rgb(100, 100, 100) 1px 0 10px;
    font-size: 20px;
    margin-left: 15px;
}
h2, p, a{
    font-family: 'Montserrat', sans-serif;
}

/*IMAGES*/
img {
    width: 250px;
    height: auto;
}
/*ARTICLE CONTAIN*/
#news{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    justify-content: center;
    margin:0;
    }
#news >div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 0 5px rgb(102, 101, 101);
    border-radius: 10px;
    font-weight: bold; 
    max-width: 250px;
    padding: 10px;
    margin:10px;
}
div >a{
    align-self: flex-end;
}
a >button{
    background-color: rgb(139, 161, 202);
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border: none;
}
/*GRIDS*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #news{
        grid-template-columns: repeat(2,300px)
        }
    h1{
        font-size: 25px;
        }
}

@media screen and (min-width: 1024px) and (max-width: 1399px){
    #news{
        grid-template-columns: repeat(3,300px)
        }
    h1{
        font-size: 30px;
        }
}
@media screen and (min-width: 1400px) {
    #news{
        grid-template-columns: repeat(4,300px)
        }
        h1{
            font-size: 30px;
            }
}





/*DARK MODE*/

body.dark-mode {
    background-color: rgb(54, 53, 53);
    color: #eee;
  }
body.dark-mode .item{
    background-color: rgb(105, 102, 102);
  }
  body.dark-mode h2, p{
    color: white;
  }

  /*LIGHT MODE*/
body.light-mode {
    background-color: #eee;
    color: #111;
  }
  body.dark-mode .item{
    background-color: rgb(233, 230, 230);
  }
  body.dark-mode h2, p{
    color: #111;
  }